.root{
    -fx-font-family: "Red Hat Text";
}


/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/

.label {
    -fx-text-fill: white;
    /*-fx-background-color:red;*/
    -fx-min-width:15px;
}

.separator *.line{
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-width: 0.5px;
}

#postit-title-label{
    -fx-text-fill: white;
	-fx-font-weight: bold ;
	-fx-font-size: 15;
}

#subTitleLabel{
    -fx-font-size: 1.2em;
    -fx-text-fill:-fx-navy-color;
    -fx-alignment: center;
}

#title{
    -fx-text-fill: white;
	-fx-font-weight: bold ;
	-fx-font-size: 1.1em;
}

#scene-title-label{
    -fx-font-size: 1.6em;
    -fx-text-fill:-fx-navy-color;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#errorText{
    -fx-text-fill: red;
}




/*******************************************************************************
 *                                                                             *
 * Regions                                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-pane{
   -fx-background-color:transparent;
}

.scroll-pane .viewport {
       -fx-background-color: transparent;
}

/*TOOLTIPS*/

.tooltip {
    -fx-background: #003865;
    -fx-text-fill: white;
    -fx-background-color: #003865;
    -fx-background-radius: 2px;
    -fx-background-insets: 0;
    -fx-padding: 0.2em 0.5em 0.2em 0.5em; /* 10px */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
    -fx-font-size: 0.85em;
}

/*CONTEXT MENU STYLING*/

.menu {
    -fx-padding: 0.1em 0.666667em 0.1em 0.666667em; /* 4 8 4 8 */
}

.menu-bar {
    -fx-background-color:-fx-window-highlight;
}

.context-menu{
    -fx-background-color: -fx-menu-background;
    -fx-background-radius:0;
    -fx-padding:0;
}

.context-menu .separator:horizontal {
    -fx-border-insets: 2 5 2 5;
    -fx-border-width:0 0 6 0;
}


.menu-item{
    -fx-background-color: #CCD7E0;
    -fx-background-radius: 0;
    -fx-background-insets:0;
    -fx-padding: 0em 0.5em 0em 0.5em; /* 10px */
    -fx-font-size: 0.9em;
}

.menu-item .label {
    -fx-text-fill: -fx-navy-color;
    -fx-padding:3;

}

.menu-item:focused{
  -fx-background-color: derive(-fx-navy-color,10%);
}

.menu-item:focused .label {
    -fx-text-fill:#FFFFFF;
}

/*CHOICE ELEMENTS*/
.combo-box{
-fx-min-width: 200;
}

#minimalComboBox{
-fx-min-width: 25;}

.background-section {
-fx-background-color: -fx-lightblue-background-color;
}

/*
Toggle Buttons
*/

.toggle-button{
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-insets:0;
    -fx-border-width:0 0 2 0;
}

.toggle-button{
    -fx-border-color:-fx-unselected-color;
}

.button:armed,
.button:pressed,
.toggle-button.armed{
-fx-border-color:-fx-gold-color;
}

.radio-button:selected .dot {
    -fx-background-color: -fx-selected-color;
}

.radio-button .dot {
    -fx-background-color: -fx-unselected-color;
}

.check-box > .box,
.check-box:pressed > .box,
.check-box:armed .box,
.check-box:focused > .box{
    -fx-background-color: transparent;
    -fx-border-insets:4;
    -fx-border-width:1 1 1 1;
    -fx-border-color: -fx-unselected-color;
}

.radio-button:focused > .radio,
.radio-button > .radio {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.toggle-button:selected,
.check-box:selected > .box,
.choice-box:showing{
    -fx-border-color:-fx-selected-color;
    -fx-background-color: -fx-pressed-base;
}

.button:focused,
.toggle-button:focused,
.color-picker.split-button:focused > .color-picker-label,
.slider:focused .thumb {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}


#flatToggleButton{
-fx-background-color: -fx-button-highlight-mulberry;
}

#flatToggleButton:selected{
-fx-background-color: -fx-button-highlight-gold;
}

/*
TABLE VIEWS
*/

.table-view .column-header-background,
.tree-table-view > .column-header-background {
}

.table-view .column-header,
.tree-table-view .column-header,
.table-view .filler,
.tree-table-view .filler,
.table-view > .column-header-background > .show-hide-columns-button,
.tree-table-view > .column-header-background > .show-hide-columns-button,
.table-view:constrained-resize .filler,
.tree-table-view:constrained-resize .filler {
    -fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
    -fx-font-weight: bold;
    -fx-size: 2em;
    -fx-text-fill: -fx-selection-bar-text;
    -fx-padding: 0.166667em;
}

/* LABELS */

#errorLabel{
    -fx-text-fill: red;
}

/* CONTAINERS */

#hBox{
-fx-padding: 20;
-fx-spacing: 10;
}

#buttonHolder{
-fx-spacing:10;
}

#headerHBox{
-fx-padding:10;
-fx-background-color:-fx-menu-background;
}

#sidebarVBox{
-fx-alignment: center-left;
-fx-background-color:-fx-lightblue-background-color;
-fx-spacing: 15;
-fx-padding:15;
}

#specTitleHBox{
-fx-border-width: 0 0 1 0;
-fx-border-color:-fx-navy-color;
}

#tabPaneNoheaders{
-fx-background-color:-fx-lightblue-background-color;
-fx-padding:10;
}

#tabPaneNoheaders .tab-header-area{
-fx-pref-height: 0;
}

#lightBackgroundPane{
-fx-background-color:-fx-lightblue-background-color;
}

/*******************************************************************************
 *                                                                             *
 * TableView                                                                   *
 *                                                                             *
 ******************************************************************************/

.table-view,
.tree-table-view {
    /* Constants used throughout the tableview. */
    -fx-table-header-border-color: -fx-box-border;
    -fx-table-cell-border-color: derive(-fx-color,5%);
}
/***** ROW CELLS **************************************************************/
/* Each row in the table is a table-row-cell. Inside a table-row-cell is any
   number of table-cell. */
.table-row-cell {
    -fx-background: white;
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0;
    -fx-text-fill: -fx-navy-color;
}
.table-row-cell:odd {
    -fx-background: white;
}
/***** INDIVIDUAL CELLS ********************************************************/
.table-cell {
    -fx-padding: 0.166667em; /* 2px, plus border adds 1px */
    -fx-background-color: white;
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-cell-size: 2.0em; /* 24 */
    -fx-text-fill: -fx-text-background-color;
}
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.tree-table-view > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected {
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
}
/* When in constrained resize mode, the right-most visible cell should not have
   a right-border, as it is not possible to get this cleanly out of view without
   introducing horizontal scrollbars (see RT-14886). */
.table-view:constrained-resize > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:last-visible,
.tree-table-view:constrained-resize > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell > .tree-table-cell:last-visible {
    -fx-border-color: transparent;
}
/***** HEADER **********************************************************************/
/* This is the area behind the column headers. An ideal place to specify background
   and border colors for the whole area (not individual column-header's). */
.table-view .column-header-background,
.tree-table-view > .column-header-background {
    -fx-background-color: white;
    -fx-background-insets: 0;
}
/* The column header row is made up of a number of column-header, one for each
   TableColumn, and a 'filler' area that extends from the right-most column
   to the edge of the tableview, or up to the 'column control' button. */
.table-view .column-header,
.tree-table-view .column-header,
.table-view .filler,
.tree-table-view .filler,
.table-view > .column-header-background > .show-hide-columns-button,
.tree-table-view > .column-header-background > .show-hide-columns-button,
.table-view:constrained-resize .filler,
.tree-table-view:constrained-resize .filler {
    -fx-background-color: white;
    -fx-background-insets: 0, 0 1 1 0, 1 2 2 1;
    -fx-font-weight: bold;
    -fx-size: 2em;
    -fx-text-fill: -fx-navy-color;
    -fx-padding: 0.166667em;
    -fx-border-color:-fx-navy-color;
    -fx-border-width: 0 0 1 0;
    -fx-border-insets: 0 10 1 0;

}
.table-view .column-header .context-menu,
.tree-table-view .column-header .context-menu,
.table-view > .column-header-background > .show-hide-columns-button .context-menu,
.tree-table-view > .column-header-background > .show-hide-columns-button .context-menu {
    -fx-font-weight: null;
}
.table-view .filler,
.tree-table-view .filler,
.table-view:constrained-resize .filler,
.tree-table-view:constrained-resize .filler {
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1;
}
.table-view > .column-header-background > .show-hide-columns-button,
.tree-table-view > .column-header-background > .show-hide-columns-button {
    -fx-background-insets: 0, 0 0 1 1, 1 1 2 2;
}
.table-view .column-header .sort-order-dots-container,
.tree-table-view .column-header .sort-order-dots-container{
    -fx-padding: 2 0 2 0;
}
.table-view .column-header .sort-order,
.tree-table-view .column-header .sort-order{
    -fx-font-size: 0.916667em; /* 11pt - 1 less than the default font */
}
.table-view .column-header .sort-order-dot,
.tree-table-view .column-header .sort-order-dot {
    -fx-background-color: -fx-mark-color;
    -fx-padding: 0.115em;
    -fx-background-radius: 0.115em;
}
.table-view .column-header .label,
.tree-table-view .column-header .label {
    -fx-alignment: center;
}

/* Plus Symbol */
.table-view .show-hide-column-image,
.tree-table-view .show-hide-column-image {
    -fx-background-color: -fx-mark-color;
    -fx-padding: 0.25em; /* 3px */
    -fx-shape: "M398.902,298.045c0.667,0,1.333,0,2,0c0,0.667,0,1.333,0,2c0.667,0,1.333,0,2,0c0,0.667,0,1.333,0,2c-0.667,0-1.333,0-2,0c0,0.666,0,1.332,0,1.999c-0.667,0-1.333,0-2,0c0-0.667,0-1.333,0-1.999c-0.666,0-1.333,0-1.999,0c0-0.667,0-1.334,0-2c0.666,0,1.333,0,1.999,0C398.902,299.378,398.902,298.711,398.902,298.045z";
}
/* When a column is being 'dragged' to be placed in a different position, there
   is a region that follows along the column header area to indicate where the
   column will be dropped. This region can be styled using the .column-drag-header
   name. */
.table-view .column-drag-header,
.tree-table-view .column-drag-header {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-border-color: transparent;
    -fx-opacity: 0.6;
}
/* Semi-transparent overlay to indicate the column that is currently being moved */
.table-view .column-overlay,
.tree-table-view .column-overlay {
    -fx-background-color: darkgray;
    -fx-opacity: 0.3;
}
/* Header Sort Arrows */
.table-view /*> column-header-background > nested-column-header >*/ .arrow,
.tree-table-view /*> column-header-background > nested-column-header >*/ .arrow {
    -fx-background-color: -fx-mark-color;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}
/* This is shown when the table has no rows and/or no columns. */
.table-view .empty-table,
.tree-table-view .empty-table {
    -fx-background-color: white;
    -fx-font-size: 1.166667em; /* 14pt - 2 more than the default font */
}

/*******************************************************************************
 *                                                                             *
 * Table Cells                                                                 *
 *                                                                             *
 ******************************************************************************/

.check-box-table-cell {
    -fx-alignment: center;
    -fx-padding: 0;
}
.check-box-table-cell > .check-box {
    -fx-font-size: 0.8em;
    -fx-opacity: 1;
    -fx-padding: 0 0 1 0;
}
.check-box-table-cell > .check-box > .box {
    -fx-background-color: white;
    -fx-background-insets: 0,1;
}
.check-box-table-cell > .check-box:focused > .box {
    -fx-background-color:  -fx-lightblue-background-color;
    -fx-background-insets: 0,1;
}
.check-box-table-cell > .check-box:selected > .box > .mark {
    -fx-background-color: -fx-window-highlight;
    -fx-background-insets: 0;
}
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled > .check-box-table-cell:selected > .check-box > .box,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled > .check-box-table-cell:selected > .check-box > .box,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected > .check-box-table-cell > .check-box > .box,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected > .check-box-table-cell > .check-box > .box {
    -fx-background-color: derive(-fx-accent,40%), -fx-background;
}

.tab{
   -fx-padding: 0 30 0 30;
   }