.root{
    -fx-font-family: "Red Hat Text";
}


/*******************************************************************************
 *                                                                             *
 * Terminal text                                                                       *
 *                                                                             *
 ******************************************************************************/

.label {
    -fx-text-fill: white;
    /*-fx-background-color:red;*/
    -fx-min-width:15px;
}

/*******************************************************************************
 *                                                                             *
 * Terminal display area                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-pane{
   -fx-background-color:transparent;
}

.scroll-pane .viewport {
       -fx-background-color: transparent;
}
